html {
    box-sizing: border-box;
    height: 100%;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
}